<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.bigdata.mybatis.mapper.CgAppMapper">


    <resultMap id="cgAppResultMap" type="com.rookie.bigdata.common.CgApp">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="app_token" property="appToken" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="app_refreshtoken" property="appRefreshtoken" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="brand" property="brand" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="p_type" property="type" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="token_expires_time" property="tokenExpiresTime" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
        <result column="refreshtoken_expires_time" property="refreshtokenExpiresTime" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <!--        <result column="retail_price" property="retailPrice" jdbcType="NUMERIC" javaType="java.math.BigDecimal"/>-->
        <!--        <result column="discount_price" property="discountPrice" jdbcType="NUMERIC" javaType="java.math.BigDecimal"/>-->
        <!--        <result column="discount" property="discount" jdbcType="NUMERIC" javaType="java.math.BigDecimal"/>-->
        <!--        <result column="currency" property="currency" jdbcType="VARCHAR" javaType="java.lang.String"/>-->


        <!--        <result column="click_rate" property="clickRate" jdbcType="INTEGER" javaType="java.lang.Integer"/>-->

        <!--        <result column="picture_path" property="picturePath" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
        <!--        <result column="img_source" property="imgSource" jdbcType="TINYINT" javaType="java.lang.Integer"/>-->
        <!--        <result column="source" property="source" jdbcType="TINYINT" javaType="java.lang.Integer"/>-->
        <!--        <result column="brand_id" property="brandId" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
        <!--                <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
                        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>-->


    </resultMap>


    <select id="getAll" resultMap="cgAppResultMap">
        select *
        from crm.cg_app
    </select>

    <select id="getAppByType" resultMap="cgAppResultMap">
        select *
        from crm.cg_app
        where p_type = #{type}
        order by create_time desc limit 1;
    </select>


    <select id="getAllAppByType" resultMap="cgAppResultMap">
        select *
        from crm.cg_app
        where p_type = #{type}

    </select>

</mapper>
