<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.bigdata.mybatis.mapper.MbUserMapper">


    <resultMap id="mbUserResultMap" type="com.rookie.bigdata.common.MbUser">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>

        <result column="phone" property="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="member_no" property="memberNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="level_no" property="levelNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="level_name" property="levelName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="brand_code" property="brandCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="reg_channel" property="regChannel" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="reg_su_channel" property="regSubChannel" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="reg_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="sex" property="sex" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="point" property="point" jdbcType="INTEGER" javaType="int"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>


    </resultMap>


    <select id="getAll" resultMap="mbUserResultMap">
        select *
        from crm.mb_user
    </select>

    <select id="getMbUserByMap" resultMap="mbUserResultMap" resultType="java.util.Map">
        select *
        from crm.mb_user
        where 1=1
        <if test="phone!=null and phone!=''">
            and phone = #{phone}
        </if>
        <if test="brandCode!=null and brandCode!=''">
            and brand_code = #{brandCode}
        </if>
        <if test="memberNo!=null and memberNo!=''">
            and member_no = #{memberNo}
        </if>
        limit 1
    </select>

    <insert id="insertMbUser" useGeneratedKeys="true" keyProperty="id">
        insert into crm.mb_user(phone, member_no, level_no, level_name, brand_code, reg_channel, reg_su_channel,
                                reg_time, birthday, email, sex, point)
        values (#{phone}, #{memberNo}, #{levelNo}, #{levelName}, #{brandCode}, #{regChannel}, #{regSubChannel},
                #{regTime}, #{birthday}, #{email}, #{point})
    </insert>


</mapper>
