<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.bigdata.mapper.MemberMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="resultMap" type="com.rookie.bigdata.entity.crm.Member">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>

        <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="phone" property="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="sex" property="sex" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="point" property="point" jdbcType="BIGINT" javaType="int"/>
        <result column="reg_channel" property="regChannel" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="level_id" property="levelId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="brand" property="brand" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>

    </resultMap>


    <!--    <select id="selectFansByMap" parameterType="java.util.Map" resultMap="resultMap">-->
    <!--        select *-->
    <!--        from rookie_crm.tb_fans-->
    <!--        where 1=1-->
    <!--        <if test="type !=null and type !='' ">-->
    <!--            and type = #{type}-->
    <!--        </if>-->
    <!--        <if test="ouid !=null and ouid !='' ">-->
    <!--            and ouid = #{ouid}-->
    <!--        </if>-->
    <!--        <if test="phone !=null and phone !='' ">-->
    <!--            and phone = #{phone}-->
    <!--        </if>-->
    <!--        limit 1-->
    <!--    </select>-->


</mapper>
